<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedAPIend-to-endTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB3FAC292935591F0086D6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3FAC332935591F0086D6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB3FAC602937EAC10086D6F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE16C3329BE1E3E00F9BD69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE16C3C29BE1E3E00F9BD69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE5AB3A297DA0F000756705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
